body {
    background-color: black;
    color: white;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.navbar li {
    border: 2px solid white;
    /* display: inline-block; */
}

.introimg {
    border: 2px solid white;
    float: left;
}

.border {
    border: 5px solid white;
}

.box {
  margin: 30px;
  width: 100%;
  max-width: 250px;
  max-height: 50px;
  height: 100%;
  background-color: rebeccapurple;
  /* transform: rotate(0.8turn); Example function, keep in mind! */
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

@media (min-width: 70em) {
  body {
    font-size: 130%;
  }
}
